<p>
    <mat-toolbar>
        <!-- <app-button-icon [name]="icons.home"></app-button-icon> -->
        <button mat-button routerLink="/home" >
            <img style="max-height: 32px;" src="https://cdn.discordapp.com/attachments/964997646366408744/965008059820810293/unknown.png" alt="">
        </button>
        <button mat-button routerLink="/explore">Explorar</button>
        <span class="example-spacer"></span>
        <app-button-icon routerLink="/login" [name]="icons.login"></app-button-icon>
    </mat-toolbar>
</p>